.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
  display: grid;
  gap: 2rem;
  justify-items: center;
}

@media screen and (min-width: 992px) {
  .section-center {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

@media screen and (min-width: 1170px) {
  .section-center {
    width: 95vw;
    grid-template-columns: repeat(3, 1fr);
  }
}
