form h4 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.form-control {
  display: grid;
  grid-template-columns: 1fr 100px;
}
.form-input {
  border-radius: 0;
  border-top-left-radius: var(--borderRadius);
  border-bottom-left-radius: var(--borderRadius);
}
.form-control .btn {
  border-radius: 0;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
